<footer>
    <nav>
        <a href='https://github.com/testerhyuk/' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Reference : https://developers.kakao.com</span><br>
        <span>Source Code : https://github.com/testerhyuk/pharmacy_recommendation</span><br>
        <span>Copyright 2023. KyuHyuk Kim. All Rights Reserved.</span>
    </p>
</footer>